@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700;800&family=Gudea:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid #fff;
} */

html {
  font-size: 75%;
  scroll-behavior: smooth;
}

::selection {
  background-color: #ffffff;
  color: black;
}
